<div class="bg-warning">
  <div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
    <div class="d-flex align-items-center justify-content-center"> 
    <div class='text-center'>
        <h2>コンビニにある食べ物でペアリング</h2>
        <h1 class="font-weight-bold">おつまみ子</h1>
        <div class="actions">
          <div class='btn btn-danger'>
            <%= link_to 'まずはお酒から選ぶ', choice_path %>
          </div>
        </div>
        <p><font size="5">いつものお酒におつまみ子<br><br>新しい体験をあなたに</font></p>
        <br><br><br>
        <div class="row">
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">おつまみに迷ったら<font size="6">簡単</font>に絞り込み</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">あなたに<font size="6">ぴったり</font>のおつまみを紹介</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">みんなの気になっているおつまみを<font size="6">チェック</font></h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </div>
        <br>
        <div class="actions">
          <div class='btn btn-danger'>
            <%= link_to 'まずはお酒から選ぶ', choice_path %>
          </div>
        </div>
      </div>
      </div>
    </div>
    </div>
	</div>
  </div>
</div>




