<section class="hero is-fullheight has-background-light style="background-image:">
  <div style="background-color: #FDBB3C;">
	  <div class="hero-body">
		  <div class="container has-text-centered">
      <br><br><br><br><br><br>
        <h2 class="subtitle">
          コンビニにある食べ物でペアリング
        </h2>
        <h1 class="title is-1 is-spaced has-text-black">おつまみ子</h1>
        <br><br><br>
        <div class='button is-danger'>
          <%= link_to 'まずはお酒から選ぶ', choice_path %>
        </div>
        <br><br><br>
        <p><font size="6">いつものお酒におつまみ子<br><br>新しい体験をあなたに</font></p>
        <br><br><br>
        <div class="columns is-desktop">
          <div class="column is-0-mobile is-4-tablet is-4-desktop">
            <div class="box">
              おつまみに迷ったら<font size="4">簡単</font>に絞り込み
            </div>
          </div>
          <br>
          <div class="column is-0-mobile is-4-tablet is-4-desktop">
            <div class="box">
              あなたに<font size="4">ぴったり</font>のおつまみを紹介
            </div>
          </div>
          <br>
          <div class="column is-0-mobile is-4-tablet is-4-desktop">
            <div class="box">
              みんなの気になっているおつまみを<font size="4">チェック</font>
            </div>
          </div>
        </div>
        <br>
        <div class='button is-danger'>
          <%= link_to 'まずはお酒から選ぶ', choice_path %>
        </div>
      </div>
    </div>
	</div>
</section>
