<div class="back">
<%= image_pack_tag "media/images/header_awa.png", class: "headerimage" %>
<div class="card-img-overlay">
<div class="container">
        <h2 class="font-weight-bold">コンビニにある食べ物でペアリング</h2>
        <h1 class="font-weight-bold">おつまみこ</h1>
</div>
</div>

  <div class="container">
  <div class="wrapper">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
    <div class="d-flex align-items-center justify-content-center"> 
    <div class='text-center'>
          <%= button_to 'まずはお酒から選ぶ', choice_path, method: :get, class: "h4 text-light btn-danger rounded-pill py-4 px-5 shadow-lg p-3" %>
        <div class="catchcopy">
          <p class="my-5 h2">いつものお酒におつまみ子<br><br>新しい体験をあなたに</p>
        </div>
        <div class="row">
        <div class="col-sm-12">
          <div class="card my-2 shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-body">
              <p class="card-title border-bottom border-danger h5">おつまみに迷ったら<span style="font-size:1.5em;" class="font-weight-bold"> 簡単 </span>に絞り込み</p>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="card my-2 shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-body">
              <p class="card-title border-bottom border-danger h5">あなたに<span style="font-size:1.5em;" class="font-weight-bold"> ぴったり </span>のおつまみを紹介</p>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="card my-2 shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-body">
              <p class="card-title border-bottom border-danger border-danger h5">気になるおつまみを<span style="font-size:1.5em;" class="font-weight-bold"> 簡単登録 </span></p>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </div>
          <%= button_to 'まずはお酒から選ぶ', choice_path, method: :get, class: "h4 text-light btn-danger rounded-pill py-4 px-5 shadow-lg p-3 my-5" %>
      </div>
      </div>
    </div>
    </div>
	</div>
  </div>
</div>




