<center>
<h1>パスワードをリセットしますか？</h1>

<p><%= @user.name %> さん、こんにちは。</p>
<p>おつまみこです。</p>
<p>ご利用ありがとうございます。</p>

<p>パスワードをリセットするには下のリンクをクリックしてください。</p>
<a href="<%= @url %>"><%= @url %></a>

<p>パスワードのリセットにお心当たりがない場合はこのメールを無視してください。</p>

<p>おつまみこ。</p>
</center>