<div class="bg-warning">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <div class='text-center'>
          <h1 class="font-weight-bold m-5">マイページ</h1>
          <p>気になるリスト</p>
            <% if @user.bookmarks.present? %>
              <div class="row flex-row flex-nowrap overflow-auto">
                <%= render @user_bookmarks %>
              </div>
            <% else %>
              <p>まだ気になっているおつまみがありません。一覧から探しましょう！</p>
            <% end %>
          <p>レビューしたおつまみ</p>
            <% if @user.reviews.present? %>
              <div class="row flex-row flex-nowrap overflow-auto">
                <%= render @user_reviews %>
              </div>
            <% else %>
              <p>まだレビューしたおつまみがありません。レビューしてみましょう！</p>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
