<%= image_pack_tag "media/images/header_awa.png", class: "headerimage" %>
<div class="card-img-overlay">
  <div class="container">
    <h1 class="font-weight-bold title-font"><%= t '.title' %></h1>
  </div>
</div>
<div class="container text-center">
  <div class="wrapper">
    <div class='text-center'>
      <div class="bookmark">
        <p class="h3 my-5 border border-danger rounded-pill shadow-lg p-3 mb-5 bg-danger text-light">気になるリスト</p>
        <% if @user.bookmarks.present? %>
          <div class="row flex-row flex-nowrap overflow-auto p-5 mypage-area">
            <%= render @user_bookmarks %>
          </div>
        <% else %>
          <p class="h5">まだ気になっているおつまみがありません。<br>一覧から探しましょう！</p>
        <% end %>
        </div>
        <div class="review">
        <p class="h3 my-5 border border-danger rounded-pill shadow-lg p-3 mb-5 bg-danger text-light">レビューしたおつまみ</p>
        <% if @user.reviews.present? %>
          <div class="row flex-row flex-nowrap overflow-auto p-5 mypage-area">
            <%= render @user_reviews %>
          </div>
        <% else %>
          <p class="h5">まだレビューしたおつまみがありません。<br>レビューしてみましょう！</p>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
