<footer class="text-muted py-3 bg-dark w-100" id="footer">
  <div class="container">
    <div class="text-center">
      <div class="row">
        <div class="col">
          <%= link_to 'おつまみこ', root_path, class: "footer-logo text-decoration-none" %>
        </div>
        <div class="col">
          <%= link_to 'プライバシー', privacy_path, class: "footer-text text-decoration-none" %>
        </div>
        <div class="col">
          <%= link_to '利用規約', terms_path, class: "footer-text text-decoration-none" %>
        </div>
        <div class="col">
          <%= link_to 'お問い合わせ', new_inquiry_path, class: "footer-text text-decoration-none" %>
        </div>
      </div>
    </div>
  </div>
</footer>
