<footer class="footer" style="background-color: #2F2E41;">
  <div class="content has-text-centered">
    <div class="has-text-white">
    おつまみ子 /
    <%= link_to '利用規約' %> /
    <%= link_to 'お問い合わせ' %>
    </div>
  </div>
</footer>