<footer class="text-muted py-5 bg-dark w-100" id="footer">
  <div class="container">
    <div class="text-center">
      <%= link_to 'おつまみこ', root_path, class: "mx-5 footer-logo text-light" %>
      <%= link_to '利用規約', "#", class: "mx-5 text-light" %>
      <%= link_to 'お問い合わせ', "#", class: "mx-5 text-light" %>
    </div>
  </div>
</footer>

<%= javascript_pack_tag 'pages/footer' %>