<div class="hero-head">
  <header class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <span class="navbar-burger burger" data-target="navbarMenuHeroC">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
    <div id="navbarMenuHeroC" class="navbar-menu">
      <div class="navbar-end">
          <%= link_to 'トップページ', root_path, class: "navbar-item is-active" %>
          <%= link_to 'おつまみ一覧', '#', class: "navbar-item is-active" %>
          <%= link_to 'ログイン', login_path, class: "navbar-item is-active" %>
      </div>
    </div>
  </header>
</div>
