<header>
  <nav class="navbar navbar-expand-lg navbar-light mt-3 mb-3 fixed-top">
    <%= link_to "おつまみこ", root_path, class: "nav-link navbar-brand" %>
      <button class="navbar-toggler shadow-lg" type="button" data-toggle="collapse" data-target="#navbarNav3" aria-controls="navbarNav3" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon fa-1x"></span>
      </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav3">
          <ul class="navbar-nav float-right h5">
            <li class="nav-item mx-3 py-3">
              <%= link_to 'ログイン', login_path, class: "nav-link h3" %>
            </li>
          </ul>
        </div>
  </nav>
</header>
