<% content_for(:title, "マイページ") %>
<%= image_tag "header_awa.png", class: "headerimage" %>
<div class="card-img-overlay">
  <div class="container">
    <h1 class="font-weight-bold title-font"><%= t '.title', name: current_user.name %></h1>
  </div>
</div>

<div class="container text-center">
  <div class="review">
      <% if current_user.reviews.present? %>
          <div id="records_table" class="row">
            <%= render @user_reviews %>
          </div>
      <% else %>
        <p class="h5">まだレビューしたおつまみがありません。<br>レビューしてみましょう！</p>
      <% end %>
  </div>
</div>

<%= javascript_pack_tag 'pages/mypage', defer: true %>