// トップページ
.pr-card {
  background-color: #FCF0C7;
}

.headerimage {
  position: relative;
  background-size: cover;
  max-width: 100%;
  height: auto;
}

.card-img-overlay {
  margin-top: 200px;
  text-align: center;
  .container {
    padding: 0;
    top: calc(50% - 0.5rem);
    text-align: center;
    h2 {
      font-size: 1.5rem;
      font-family: "Toppan Bunkyu Midashi Gothic";
    }
    h1 {
      margin-bottom: 100px;
    }
  }
}

.top-font {
  font-size: 7rem;
  font-family: "Nico Moji";
}

.title-font {
  font-size: 4rem;
}

.catchcopy {
  margin-top: 150px;
  margin-bottom: 150px;
}


// mypage
.js-button-user-update {
  background-color: #f08c7c;
  color: white;
  &:hover {
    background-color: #e84c6c;
    color: white;
  }
}

.js-button-edit-user-cancel {
  border-color: #aaaaaa;
  color: #aaaaaa;
  &:hover {
    background-color: #848484;
    color: white;
  }
}

.mypage-user-name {
  font-size: 4rem;
}

.mypage-user-email {
  font-size: 2rem;
}

.js-edit-user-button {
  font-size: 1.5rem;
  color: brown;
  padding: 10px;
}

.review {
  margin-bottom: 300px;
}

.mypage-card {
  margin-bottom: 100px;
  padding: 50px;
  border-radius: 5%;
}

.mypage-name {
  font-size: 2rem;
}

.mypage-email {
  margin-top: 50px;
  font-size: 2rem;
}

.btn-bookmark {
  color: #f09400;
  margin-left: 50px;
  padding: 50px 120px;
  background-color: white;
  font-size: 4rem;
  border-radius: 10%;
  &:hover {
    color: white;
    background-color: #f09400;
  }
}

.btn-review {
  color: #9acd32;
  margin-right: 50px;
  padding: 50px 120px;
  background-color: white;
  font-size: 4rem;
  border-radius: 10%;
  &:hover {
    color: white;
    background-color: #9acd32;
  }
}

.mypage-area {
  margin-bottom: 100px;
}

// login
.submit-btn {
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 2rem;
}

.password-forget {
  margin-bottom: 200px;
}

// 必須マーク
.required::after {
  content: "必須";
  background-color: red;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  min-width: 10px;
  padding: 3px 7px;
  margin: 0px 5px;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  border-radius: 10px;
  display: inline-block;
}