// header
header {
  position: fixed;
  opacity: 0.9;
  z-index: 10;
  a {
    color: black;
  }
}

// 全体
html, body {
  height: 100%;
  background-color: #FFB62A;
  -webkit-text-size-adjust: auto;
}

*{
  margin: 0;
  padding: 0;
}

.navbar-brand {
  font-size: 2rem;
  font-family: "Nico Moji";
}


// footer
.footer-logo {
  font-size: 1.5rem;
  font-family: "Nico Moji";
}


// トップページ
.headerimage {
  position: relative;
  background-size: cover;
  max-width: 100%;
  height: auto;
}

.card-img-overlay {
  margin-top: 150px;
  text-align: center;
  .container {
    padding: 0;
    top: calc(50% - 0.5rem);
    text-align: center;
    h2 {
      font-size: 1.5rem;
    }
    h1 {
      font-size: 8rem;
      margin-bottom: 100px;
      font-family: "Nico Moji";
    }
  }
}

.catchcopy {
  margin-top: 150px;
  margin-bottom: 150px;
}


// mypage
.review {
  margin-top: 200px;
  margin-bottom: 300px;
}

.mypage-area {
  background-color: #ffe4b5;
  border: dashed;
  border-color: #908484;
  border-width: 5px;
}

// login
.submit-btn {
  margin-top: 100px;
  margin-bottom: 100px;
}

.password-forget {
  margin-bottom: 200px;
}