// お酒選択画面
.alcohol-container {
  margin-bottom: 200px;
}

// おつまみ絞り込み
.food-choice {
  padding-top: 100px;
  h1 {
    font-size: 3rem;
    margin-bottom: 50px;
  }
}

.food-select {
  margin-top: 120px;
  margin-bottom: 10px;
  h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 450px;
    height: 50px;
    margin: 0;
    padding-top: 6px;
    padding-bottom: 10px;
    z-index: 1;
    font-size: 2.5rem;
  }
}

.is-layer-dot {
  position: relative;
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 450px;
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, .4);
    background-image: radial-gradient(#000 20%, transparent 0), radial-gradient(#000 20%, transparent 0);
    background-position: 0 0, 10px 10px;
    background-size: 4px 4px;
  }
}

.bubble01:before {
  display: none;
  opacity: 0.8;
  content: '';
  position: absolute;
  display: block;
  z-index: 1;
  border-style: solid;
  border-color: #aaaaaa transparent;
  border-width: 10px 10px 0 10px;
  right: -10px;
  left: 50%;
  margin-left: -10px;
}

.bubble02:before {
  display: none;
  opacity: 0.8;
  content: '';
  position: absolute;
  display: block;
  z-index: 1;
  border-style: solid;
  border-color: #00bbff transparent;
  border-width: 10px 10px 0 10px;
  right: -10px;
  left: 50%;
  margin-left: -10px;
}

.bubble03:before {
  display: none;
  opacity: 0.8;
  content: '';
  position: absolute;
  display: block;
  z-index: 1;
  border-style: solid;
  border-color: #b22222 transparent;
  border-width: 10px 10px 0 10px;
  right: -10px;
  left: 50%;
  margin-left: -10px;
}

.alcohol {
  z-index: 1000;
  bottom: 50px;
  left: 60px;
  animation: move-y 2s infinite alternate ease-in-out;
}

@keyframes move-y {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20px);
  }
}

// ビール
.bubble01 {
  opacity: 0.8;
  position: relative;
  display: inline-block;
  width: 350px; 
  text-align: center;
  color:black;
  padding: 25px;
  background-color: #aaaaaa;
  border-radius: 5px;
  font-size: 2rem;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 100px;
}

// 日本酒
.bubble02 {
  opacity: 0.8;
  position: relative;
  display: inline-block;
  width: 350px; 
  text-align: center;
  color:white;
  padding: 25px;
  background-color: #00bbff;
  border-radius: 5px;
  font-size: 2rem;
  margin-top: 100px;
  margin-bottom: 200px;
  margin-left: 100px;
}

// ワイン
.bubble03 {
  opacity: 0.8;
  position: relative;
  display: inline-block;
  width: 350px; 
  text-align: center;
  color:white;
  padding: 25px;
  background-color: #b22222;
  border-radius: 5px;
  font-size: 2rem;
  margin-top: 100px;
  margin-bottom: 200px;
  margin-left: 100px;
}

// おつまみ絞り込み結果
.recomend-comment {
  margin-bottom: 100px;
}

.inline-block-rate {
  font-size: 2.5rem;
}

.result-image {
  margin: 0 auto;
}

.result-chart {
  padding-top: 100px;
  padding-bottom: 100px;
}

.result-tag {
  font-size: 1rem;
  margin-top: 50px;
}

.comment-table {
  background-color: #d36f6f;
  padding-top: 5px;
  padding-bottom: 5px;
}

.twitter {
  margin-right: 50px;
  margin-bottom: 50px;
}

.radio-field input[type="radio"] {
  opacity: 0;
  &:checked + label {
    background-color: #faaf24;
    color: black;
    padding: 16px 31px;
  }
}

.radio-field label {
  background-color: #f4f4f4;
  padding: 7px 22px;
  border-radius: 50%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125);
  font-size: 2rem;
  color: #aaaaaa;
  p {
    color: #aaaaaa;
  }
}

.radio-field label:hover {
  background-color: #ffe1b4;
}

.radio-field {
  h3 {
  color: #aaaaaa;
  }
  p {
    color: #aaaaaa;
  }
}

.review-textarea {
  width: 100%;
  min-height: 500px;
  max-height: 1500px;
  padding: 8px;
  line-height: 50px;
  font-size: 1rem;
}

.js-edit-comment-button {
  background-color: #f08c7c;
  color: white;
  &:hover {
    background-color: #e84c6c;
    color: white;
  }
}

.js-delete-comment-button {
  background-color: #f08c7c;
  color: white;
  &:hover {
    background-color: #e84c6c;
    color: white;
  }
}

.js-button-review-update {
  background-color: #f08c7c;
  color: white;
  &:hover {
    background-color: #e84c6c;
    color: white;
  }
}

.js-button-edit-review-cancel {
  border-color: #aaaaaa;
  color: #aaaaaa;
  &:hover {
    background-color: #848484;
    color: white;
  }
}

.comment-area {
  font-size: 1.5rem;
  &::placeholder {
    font-size: 1.5rem;
  }
}

.review-time {
  color: #aaaaaa;
}

input[type=checkbox] {
  opacity: 0;
  &:checked + label {
    padding: 0.5em 1em;
    color: black;
    background: rgb(143, 143, 143);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    font-size: 1rem;
    font-weight: bold;
  }
}

.tag-search label {
  padding: 0.5em 1em;
  color: #696969;
  background: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  font-size: 1.5rem;
  &:before {
    content: "# ";
  }
}