// お酒選択画面
.alcohol-container {
  margin-bottom: 200px;
}

// おつまみ絞り込み
.food-choice {
  padding-top: 100px;
  margin-bottom: 200px;
  h1 {
    font-size: 3rem;
    margin-bottom: 100px;
  }
}

// おつまみ絞り込み結果
.recomend-comment {
  margin-bottom: 100px;
}

.inline-block-rate {
  font-size: 2.5rem;
}

.result-image {
  margin: 0 auto;
}

.result-chart {
  padding-top: 100px;
  padding-bottom: 100px;
}

.result-tag {
  font-size: 0.8rem;
  margin-top: 50px;
}

.comment-table {
  background-color: #d36f6f;
  padding-top: 5px;
  padding-bottom: 5px;
}

.twitter {
  margin-right: 50px;
  margin-bottom: 50px;
}

.radio-field input[type="radio"] {
  opacity: 0;
  &:checked + label {
    background-color: #faaf24;
    color: black;
    padding: 16px 31px;
  }
}

.radio-field label {
  background-color: #f4f4f4;
  padding: 7px 22px;
  border-radius: 50%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125);
  font-size: 2rem;
  color: #aaaaaa;
  p {
    color: #aaaaaa;
  }
}

.radio-field label:hover {
  background-color: #ffe1b4;
}

.radio-field {
  h3 {
  color: #aaaaaa;
  }
  p {
    color: #aaaaaa;
  }
}

.review-textarea {
  width: 100%;
  min-height: 500px;
  max-height: 1500px;
  padding: 8px;
  line-height: 50px;
  font-size: 1rem;
}

.js-edit-comment-button {
  background-color: #f08c7c;
  color: white;
  &:hover {
    background-color: #e84c6c;
    color: white;
  }
}

.js-delete-comment-button {
  background-color: #f08c7c;
  color: white;
  &:hover {
    background-color: #e84c6c;
    color: white;
  }
}

.js-button-review-update {
  background-color: #f08c7c;
  color: white;
  &:hover {
    background-color: #e84c6c;
    color: white;
  }
}

.js-button-edit-review-cancel {
  border-color: #aaaaaa;
  color: #aaaaaa;
  &:hover {
    background-color: #848484;
    color: white;
  }
}

.comment-area {
  font-size: 1.5rem;
  &::placeholder {
    font-size: 1.5rem;
  }  
}

.review-time {
  color: #aaaaaa;
}

input[type=checkbox] {
  opacity: 0;
  &:checked + label {
    padding: 0.5em 1em;
    color: black;
    background: rgb(143, 143, 143);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    font-size: 1rem;
    font-weight: bold;
  }
}

.tag-search label {
  padding: 0.5em 1em;
  color: #696969;
  background: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  font-size: 1rem;
  &:before {
    content: "+ ";
  }
}