<%= search_form_for @q, url: url do |f| %>
  <div class="row justify-content-center align-items-center mb-5">
    <div class="col-8">
      <%= f.search_field :name_cont, placeholder: "おつまみを検索", class: 'form-control search-field shadow-lg rounded-pill pl-5' %>
    </div>
    <div class="col-2">
      <%= f.submit '検索', class: 'h4 text-light btn-danger rounded-pill py-4 px-5 shadow-lg search-btn' %>
    </div>
    <div class="col-12 tag-search mb-3">
      <%= f.collection_check_boxes :has_tag_id_all, @tags, :id, :name, include_hidden: false %>
    </div>
  </div>
<% end %>
