<%= form_with model: @search_snacks_form, scope: :q, url: snacks_path, method: :get do |f| %>
  <div class="row justify-content-center align-items-center mb-5">
    <div class="col-8">
      <%= f.search_field :name, placeholder: "おつまみを検索", class: 'form-control search-field shadow-lg rounded-pill pl-5' %>
    </div>
    <div class="col-2 indexbtn">
      <%= f.submit '検索', class: 'btn btn-malformation shadow' %>
    </div>
    <div class="col-12 tag-search mb-3 text-center">
      <%= f.collection_check_boxes :tag_ids, @tags, :id, :name, include_hidden: false %>
    </div>
  </div>
<% end %>
