<div class="modal-content">
  <div class="modal-body">
    <div class="row">
      <%= image_tag '', size: '300x200', class: 'card-img-top' %>
        <div class='text-center'>
          <%= snack.alcohol %><br>x<br>
          <%= snack.name %>
        </div>
    </div>
  </div>
</div>