<div class="bg-warning">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <div class="card my-5">
          <div class="card-body">
            <div class='text-center'>
              <h1 class="font-weight-bold m-5">おつまみ一覧</h1>
            </div>
              <%= render 'snacks/search_form_for', url: snacks_path %>
              <div id="pageScroll" data-page="">
                <div id="records_table" class="row">
                  <%= render @snack %>
                </div>
              <div id="div_next_link">
                <%= render 'snacks/next_link' %>
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= javascript_pack_tag 'pages/page_scroll' %>