<div class="choose_box">
    <div id="q_01" class="fit">
        <p>【質問①】</p>
        <ul>
          <li class="even"><a class="button" href="#q_02">Yes</a></li>
          <li class="odd"><a class="button" href="#q_03">No</a></li>
        </ul>
    </div>
    <div id="q_02" style="display: none;">
        <p>【質問②-1】</p>
        <ul>
          <li class="even"><a class="button" href="#q_04">いえす</a></li>
          <li class="odd"><a class="button" href="#q_05">のー</a></li>
        </ul>
    </div>
    <div id="q_03" style="display: none;">
        <p>【質問②-2】</p>
        <ul>
          <li class="even"><a class="button" href="new#q_04">いいいいいえい</a></li>
          <li class="odd"><a class="button" href="new#q_05">のののののののん</a></li>
        </ul>
    </div>
    <div id="q_04" style="display: none;">
        <p>【答えA】</p>
    </div> 
    <div id="q_05" style="display: none;">
        <p>【答えB】</p>
    </div>
</div>
