<div class="bg-info">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <div class="card my-5">
          <div class="card-body">
            <div class='text-center'>
              <h1 class="font-weight-bold m-5">おつまみ一覧</h1>
            </div>
              <div class="row">
                <%= render @snack.sake, snack: @snack %>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>